version: 1.2.{build}
environment:
  COVERALLS_REPO_TOKEN: 
    secure: Gi55/aHqrZs6SjL0DCGl9jVTQLapvcroI21SLtMZ/7npQIwzoRrx1zA+sP+0O7jj
before_build:
- cmd: nuget restore .\src\stream-net.sln
build:
  project: ./src/stream-net.sln
  verbosity: minimal
after_test:
- cmd: >-
    src\packages\OpenCover.4.6.166\tools\OpenCover.Console.exe -register:user -filter:"+[*]*" -target:"src\packages\NUnit.Console.3.0.1\tools\nunit3-console.exe" -targetargs:"/domain:single  src\stream-net-tests\bin\debug\stream-net-tests.dll" -output:coverage.xml

    src\packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover coverage.xml
on_finish:
- ps: >-
    $wc = New-Object 'System.Net.WebClient'

    $wc.UploadFile("https://ci.appveyor.com/api/testresults/nunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestResult.xml))